.mark{
   .title{
     h3{
       margin-bottom: 3vh;
     }
     padding: 2vh 2vw 3vh 2vw;
     overflow: hidden;
     background: #122346;
     border-radius: 4px;
     margin-bottom: 1vh;
   }
   .content{
     overflow: hidden;
    margin-bottom: 1vh;
     .closeTime{
        font-size: 12px;
        color: #5B739B;
      }
     .content-left{
      .content-left-top{
        padding: 2vh 2vw 1vh 2vw;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 1vh;
        background: #122346;
        .search-key{
          float: right;
          padding-top: 10px;
          .ant-btn{
            margin-left: 10px;
          }
        }
        .total-num{
          padding: 40px 10px;
          span{
            color: #FFCC00;
            background: #162d5a;
            padding: 4px 20px;
          }
        }
      }
      .content-left-bottom{
        background: #122346;
        padding: 2vh 2vw 3vh 2vw;
        overflow: hidden;
        height: 49vh;
        border-radius: 4px;
        margin-top: 1vh;
        .table-content{
          overflow: auto;

        }
        .ant-list-item{
          text-align: center;
          color: #7f90b7;
          border-bottom-color: #1d3a73 !important;
          border-bottom-style: dashed;
        }
        .branch-office-name{
          width:45%;
        }
        .case-percentage{
          width: 35%;
        }
        .case-count{
          width: 30%;
        }
      }
     }
     .content-right{
        padding-left: 1vw;
        height: 100vh;
      .install-num{
        height: 100%;
        background: rgb(18, 35, 70);
      }
       .chart-pie{
         background: #122346;
         .icon{
            text-align: right;
            float: right;
            font-size: 14px;
           span{
             cursor: pointer;
           }
         }
         .table-list{
           .total-num{
             text-align: right;
             padding-right: 1vw;
           }
          
         }
         .message{
           padding: 0vh 1vw 1vh 2vw;
           .input-content{
             padding-top: 1vh;
           }
           .ant-tag{
             background: transparent;
             color: #7F90B7;
             border: none;
           }
         }
       }
     }
   }
   textarea{
    background: #204283;
    color: #f2f2f2;
    border: 1px solid  #1D6E95;
    border-radius: 4px; padding: 4px 11px;
    outline: none;
   }
}

