.progress{
  display: flex;
  justify-content: center;
  align-items: center;
  .progress-out{
  display: inline-block;
  padding:2px;
  width:50%;
  height:21px;
  border:2px solid #45A6D0;
  border-radius: 10px;
  // margin-top: 4vh;
  }
  .yellow-out{
  border:2px solid #E2DC2D
  }

  .yellow-inside{
  background-image:-webkit-linear-gradient(90deg,#BE3928,#EEE50F);
  background-image:linear-gradient(90deg,#BE3928,#EEE50F);
  }
  .progress-data{
  display: inline-block;
  margin-left: 1vw;
  }
  
  }