.LocationMapBox1{
  margin:'0';
  padding: 0;
  height: 100%!important;
  width: 100%!important;
  position: absolute;
  left: 0!important;
  z-index: 2;
  background-color: black;
  .LocationMapButton1{
    position: absolute;
    top:6%;
    left: 4%!important;
    z-index: 6;
  }
  .modal-map1{
    margin:0 1%!important;
    position: relative;
    top:2%!important;
    height: 96%!important;
    width: 98%!important;
    left: 0!important;
  }
  
}