
.head-img-main{
  text-align: right;
  padding: 20px 20px; 
  .head-img{
    height: 52px;
    width: 52px;
  }
}
.head-text-main{
  color: #7f90b7;
  .head-text1{
    padding-top: 12px;
  }
  .head-text2{
    color: #ffffff;
    margin-top: 10px;
    .head-text2-content{
      font-size: 28px;
      margin-right: 10px;
      i{
        font-size: 14px;
      }
    }
  }
}
    
