.serachBox{
  height: 100px;
  line-height: 100px;
  border-bottom: 1px dashed #7f90b7;
  color: #5b739b;

 
  .serachCrimeBox{
    padding-left: 2%;
    .serachCrime{
      margin-right: 1.5%;
      .serachCrimeSelect{
        margin:0 1%;
        // width: 120px;
      }
      .serachCrimeButton{
        margin-left: 20px;
      }
    }
  }
 
  
}
.ant-table-tbody > tr > td{
  cursor: text !important;
}