.suspicionLookHeader{
  height: 200px;
  width: 99%;
  margin: 0 0.5%;
  background-color: #1d2d47;
  .headerText{
    // font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #F2F2F2;
    padding: 20px 30px;
  }
  .headerMain{
    .Mainleft{
      .MainLeftImg{
        text-align: right;
        height: 100px;
        line-height: 100px;
        padding-right: 15px;
        .imgImg{
          height: 52px;
        }
      }
      .supicionPeople{
        color: #7F90B7;
        margin-top: 10px;
        height: 40px;
        line-height: 40px;
      }
        .supicionNumBox{
          color: #FFFFFF;
          // margin-top: 10px;
          .supicionNum{
            font-size: 28px;
            margin-right: 5px;
          }
       
      }
    }

  }
}
.suspicionLookMain{
  height: 500px;
  width: 99%;
  margin: 10px 0.5%;
  .mainLineBox{
    // width: 100%;
    .mainLine{
     margin-right: 0.5%;
     height: 500px;
     background-color: #1d2d47;
     
    }
    
  }
  .mainParBox{
    // width: 100%;
    .mainLine{
     margin:0 0.5%;
     height: 500px;
     background-color: #1d2d47;
     
    }
    
  }
  .mainPieBox{
    // width: 100%;
    .mainLine{
     margin-left: 0.5%;
     height: 500px;
     background-color: #1d2d47;
     
    }
    
  }
}