.checkLook{
  height: 100%;
  color: #c3dcec !important;
  .ant-tabs-top{
    height: 100%;
    .ant-tabs-content{
      height: 90%;
      .fiels{
        height: 100%;
        #example1{
          height: 95%;
        }
      }
    }
  }
  .ant-tabs-nav .ant-tabs-tab{
    color: #c3dcec;
  }
  .downloadFileBox{
    margin-top: 10px;
    text-align: right;
    margin-left: 40px;
  }
}
.ant-tabs-bar{
  border-bottom-color: #1d3a73 !important;
}
