
.progress{
  display: flex;
  justify-content: center;
  align-items: center;
  .progress-out{
  display: inline-block;
  padding:2px;
  width:50%;
  height:21px;
  border:2px solid #45A6D0;
  border-radius: 10px;
  // margin-top: 4vh;
  }
  .yellow-out{
  border:2px solid #E2DC2D
  }
  .progress-inside{
  width:100%;
  height:12px;
  margin-top: 14px;
  // background-color: #45A6D0;
  border-radius: 10px;
  background-image:-webkit-linear-gradient(90deg, #257FCB,rgb(7, 72, 212));
  background-image:linear-gradient(90deg,#257FCB,rgb(7, 72, 212));
  }
  .yellow-inside{
  background-image:-webkit-linear-gradient(90deg,#BE3928,#EEE50F);
  background-image:linear-gradient(90deg,#BE3928,#EEE50F);
  }
  .progress-data{
  display: inline-block;
  margin-left: 1vw;
  }
  
  }
  .allCarCheckNum{
    .progress{
       .progress-data{
          top: -8px;
          left: -60px;
       }
       .progress-inside{
          position: relative;
          top: 20px;
          z-index: 900;
          width:100%;
          height:12px;
          margin-top: 14px;
          border-radius: 10px;
          background-image: linear-gradient(180deg, rgba(255, 153, 153, 1), rgba(255, 153, 153, 1)) !important
      }
    }
  }
  .checkNum{
    .progress{
       .progress-data{
        top: -20px;
        left: -60px;
       }
       .progress-inside{
          position: relative;
          top: 8px;
          z-index: 800;
          width:100%;
          height:12px;
          margin-top: 14px;
          border-radius: 10px;
          background-image: linear-gradient(180deg, rgba(0, 204, 153, 1), rgba(0, 204, 153, 1)) !important
      }
    }
  }
  .checkCaseNum{
    .progress{
        .progress-data{
          top: -32px;
          left: -60px;
       }
       .progress-inside{
          position: relative;
          top: -4px;
          z-index: 700;
          width:100%;
          height:12px;
          margin-top: 14px;
          border-radius: 10px;
          background-image: linear-gradient(180deg, rgba(0, 153, 204, 1), rgba(0, 153, 204, 1)) !important
      }
    }
  }
  .caseNum{
    .progress{
        .progress-data{
          top: -43px;
          left: -60px;
       }
       .progress-inside{
          position: relative;
          top: -16px;
          z-index: 600;
          width:100%;
          height:12px;
          margin-top: 14px;
          border-radius: 10px;
          background-image: linear-gradient(180deg, rgba(27, 55, 109, 1), rgba(27, 55, 109, 1)) !important
      }
    }
  }

  .slipBox{
    position: relative;
    top: 50%;
    margin-left: -2px;
    .progress{
      .progress-data{
        position: absolute;
      }
      .progress-inside{
        margin-top: 0px
      }
    }
  }

  