.searchView{
  div{
    .ant-table-wrapper{
      .ant-spin-nested-loading{
        .ant-spin-container{
          .ant-table{
            .ant-table-content{
              .ant-table-scroll{
                .ant-table-header{
                  background-color: #1d2d47;
                }
                .ant-table-body{
                  background-color: #1d2d47;
                  table{
                    .ant-table-row{
                      td:first-child{
                        text-align: left;
                        padding-left: 5%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}