.dajiMain{
  margin-left: 15px;
  width: 100%;
  min-height: 800px;
  .MainRightMain{
    background-color: #1d2d47;
    margin-top: 10px;
  }
  .MainLeft{
    font-size:18px;
    // background-color: rgba(29, 45, 71, 1);
    
    .MainLeftHeader{
      padding-left: 10px;
      height: 30px;
      line-height: 30px;
      color: #f2f2f2;
      width: 100%;
      overflow:hidden; /* 内容超出宽度时隐藏超出部分的内容 */ 
      // border-bottom: 1px solid #0099CC;

      .MainLeftText{
        font-size:14px;
        color: #7f90b7;
      }
  
    }
   
    .MainLeftConter{
      float: left;
      padding: 10px 0 10px 30px;
      width: 100%;
    border-bottom: 1px dashed #7f90b7;
      
      .LeftConterImg{
      //  padding-top: 10px;
       height: 135px;
       width: 120px;
       font-size: 14px;
       float: left;
       
      //  display: flex;
      }
      .LeftConterMain{
        height: 135px;
        float: left;
        padding: 10px 0 10px 10px;
        // min-width: 170px;
        // max-width: 300px;
        word-break:keep-all; /* 不换行 */ 
       white-space:nowrap; /* 不换行 */ 
       overflow:hidden; /* 内容超出宽度时隐藏超出部分的内容 */ 
      

        .ConterMainText{
          height: 45px;
          line-height: 45px;
          font-size: 14px;
          // min-width: 170px;
          max-width: 300px;
        
          .MainTextLeft{
            color: #7f90b7;
            text-align: right;
        
          }
          .MainTextRight{
            color: #0099ff;
            text-align: right;
          }
        }
    
      }
    }
  }
  .MainRight{
    margin:0 1%;
 
    .MainRightHeader{
      height: 190px;
      background-color: rgba(29, 45, 71, 1);
      .RightHeaderAn{
        font-size: 16px;
        color: #f2f2f2;
        padding: 20px;
       
      }
      .RightHeaderMain{

        .RightHeaderImgBox{
          text-align: right;
          padding: 20px 20px; 

          .RightHeaderImg{
            height: 52px;
            width: 52px;
          }
        }
       .RightHeaderTextBox{
         color: #7f90b7;
         .RightHeaderText{
           padding-top: 12px;
         }
         .RightHeaderText2{
           color: #ffffff;
           margin-top: 10px;
             
           .RightHeaderTextConcer{
             font-size: 28px;
            //  color: #f2f2f2;
             margin-right: 10px;
           }
         }
       }

      }

      // background: url('../../assets/images/list-active-right.png') no-repeat center top;
      // background-size: 100% 100%;
    }
    .MainRightMiddle{
      margin-top: 10px;
      background-color: rgba(29, 45, 71, 1);
      .MiddleHeader{
        .MiddleHeaderConter{
          font-size: 16px;
          color: #F2F2F2;
          padding: 20px 0 0 1%;
        }
      .MiddleHeaderConterL{
        text-align: right;
        padding-right: 1%;
      }
      }
      .MiddleMiddle{
        padding: 10px 6% 30px 6%;
        // margin-top: 5px;
        border-bottom: 1px dashed #7f90b7;
        .carloadDiscoverBox{
          height: 40px;
          width: 100%;
          line-height: 40px;
          border-bottom: 1px dashed #7f90b7;
           .carloadDiscover{
             text-align: right;
        
           }
           .carloadDiscoverText{
             padding-left: 10%;
           }
           .carloadDiscoverText2{
             padding-left: 5%;
           }
           
        }
      }
    }
  }
  
}