.ant-table-thead > tr > th{
  background: transparent;
  color:#f2f2f2;
  border-bottom-color: #162d5a;
  text-align: center;
}
.ant-table-tbody{
  color: #7f90b7;
  text-align: center
}
.ant-table-tbody > tr > td{
  border-bottom-color: #162d5a;
}
.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td {
    background: #162d5a;
    cursor: pointer;
}
