.ant-badge-status-Error{
  background: #f5222d;
}
.ant-badge-status-Warning{
  background: #faad14;
}
.ant-badge-status-Processing{
  background: #fff;
}
.ant-badge-status-Success{
  background: #52c41a;
}
