.ant-table-thead > tr > th{
  background-color: transparent !important;
  color: #f2f2f2 !important;
}
.ant-table-tbody tr, .ant-table-tbody tr a{
  color:#0099CC;
}
.ant-table-tbody tr:nth-child(2n+1){
  background: transparent;
}
.ant-table-tbody tr:nth-child(2n){
  background: transparent;
}
.ant-table-bordered .ant-table-thead > tr > th {
    border-right: 1px solid #0f3963;
}
.ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #0f3963;
}
.ant-table-bordered .ant-table-thead > tr > th,.ant-table-tbody > tr > td,.ant-table-bordered .ant-table-header > table, .ant-table-bordered .ant-table-body > table, .ant-table-bordered .ant-table-fixed-left table, .ant-table-bordered .ant-table-fixed-right table{
  border-color: #0f3963;
}
.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td{
  background-color: transparent !important;
}
.ant-pagination-disabled a{
  color: rgb(150, 146, 146);
}
.ant-pagination-options-quick-jumper input,.ant-pagination-item,.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link,.ant-select-selection{
  background-color: #07192c !important;
}
.ant-pagination-options-quick-jumper input,.ant-pagination-item a,.ant-pagination-next .ant-pagination-item-link:after,.ant-select-selection-selected-value,.ant-pagination-options-quick-jumper,.ant-pagination-prev .ant-pagination-item-link:after{
  color: #0099CC !important;
}
.ant-pagination-options-quick-jumper input,.ant-select-selection,.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link,.ant-pagination-item{
  border-color: #206ebb !important;
}
.ant-pagination-item-active{
  border-color: #1890ff !important;
}
.ant-pagination-item-active a{
  color: #1890ff  !important;
}
.ant-pagination-total-text{
  color: #0099CC !important;
}
.ant-list-empty-text{
  color: #f2f2f2 !important;
}
.ant-table-placeholder{
  color: #f2f2f2 !important;
  background: transparent !important;
  border-bottom: none !important;
}
