.LocationMapBox{
  margin:'0';
  padding: 0;
  height: 81vh;
  width: 78vw;
  position: absolute;
  left: 12%;
  z-index: 2;
  background-color: black;
  .LocationMapButton{
    position: absolute;
    top:50px;
    left: 90px;
    z-index: 6;
  }
  .modal-map{
    margin:1%;
    // position: relative;
    // top:-10px;
    width: 98%;
    height: 96%;
    // left: -1%;
  }
  
}